{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": false,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 200,
    "endOfLine": "lf",
    "useTabs": false,
    "tabWidth": 2
}
